.selector-rows {
  margin-bottom: 2rem;
  .col-xs-6 {
    padding: 2rem;
    span {
      text-align: center;
      font-size: 2rem;
    }
  }
}

.clay-color {
  .fa-square {
    color: #D2691E;
  }
}

.grass-color {
  .fa-square {
    color: #228B22;
  }
}

.hard-color {
  .fa-square {
    color: #4169E1;
  }
}

.reset-well {
  background-color: inherit;
  box-shadow: inherit;
  border: 0;
}

.mapContainer {
  width: 100%;
  height: 500px;
  #googleMap {
    width: 100%;
    min-height: 100%;
  }
}