.findbuttons {
	.btn-success {
    	margin-bottom: 0.1em;
    }
}

.timepick {
	color: black;
	text-align: center;
}

.bootstrap-timepicker-widget table td a {
	color: black;
	background-color: gray;
}

#timePicker {
	margin-bottom: 8em;
}

#datePicker {
	margin-bottom: 1em;
}


#addressSearch {
	margin-top: 1em;
	margin-bottom: 1em;
}

.mapContainer {
	padding-bottom: 5em;
}

.btn-success1 {
	background-color: #DAA520;
}

.btn-success2 {
	background-color: #ACACAC;
}

.btn-success3 {
	background-color: #CD7F32;
}

.btn-success4more {
	background-color: #F5DEB3;
}