.findbuttons {
	.btn-success {
    	margin-bottom: 0.1em;
    }
}

.timepick {
	color: black;
	text-align: center;
}

.bootstrap-timepicker-widget table td a {
	color: black;
	background-color: gray;
}

#timePicker, #datePicker {
	margin-bottom: 1em;
}

#addressSearch {
	margin-top: 1em;
}