.findbuttons {
	.btn-group-justified {
    	margin: 0.1em;
    }
}

.timepick {
	color: black;
	text-align: center;
}

.bootstrap-timepicker-widget table td a {
	color: black;
	background-color: gray;
}