.row.btn-success
  .col-xs-12.col-md-10.col-md-offset-1(ng-click="home()")
    img.img-responsive.logocent(src="/images/logo.png" width=200)
.create-screen.row
  .col-xs-10.col-xs-offset-1
    h1 Choose Location
    .form-group
      label(for="description") Description
      input#addressSearch.form-control(ng-model="addressResult", ng-autocomplete="addressResult", details="addressDetails", options="addressOptions")

    .mapContainer
      #googleMap

    .form-group
      label(for="date") Date
      input#datePicker.form-control(type="date", ng-model="date")

    .form-group
      label(for="time") Time
      input#timePicker.form-control(type="time", ng-model="time")

.bottom-button-area
  .row
    .col-xs-6.btn-danger.bottom-button(ng-click="cancel()")
      span
        span.fa.fa-chevron-left.fa-white.fa-lg
        | &nbsp; &nbsp;Cancel
    .col-xs-6.btn-success.bottom-button(ng-click="next()")
      span
        | Next&nbsp; &nbsp;
        span.fa.fa-chevron-right.fa-white.fa-lg
