.row
  .col-sm-12.col-md-10.col-md-offset-1.findbuttons
    .row
      .col-xs-12
        .btn-group-justified(data-toggle='buttons')
          label.btn.btn-primary.btn-lg.active
            input#option1(type='radio', name='options')
            | Ranked
          label.btn.btn-primary.btn-lg
            input#option2(type='radio', name='options')
            | Casual
    .row
      .col-xs-12
        .btn-group-justified(data-toggle='buttons')
          label.btn.btn-primary.btn-lg.active
            input#option1(type='radio', name='options')
            | Singles
          label.btn.btn-primary.btn-lg
            input#option2(type='radio', name='options')
            | Doubles
    .row
      .col-xs-12
        .btn-group-justified(data-toggle='buttons')
          label.btn.btn-primary.btn-lg
            input#option1(type='radio', name='options')
            | Search Radius in km
    .row
      .col-xs-12
        .btn-group-justified(data-toggle='buttons')
          label.btn.btn-primary.btn-lg
            input#option1(type='radio', name='options')
            | Date
    .row
      .col-xs-12
        .btn-group-justified(data-toggle='buttons')
          label.btn.btn-primary.btn-lg
            input#option1(type='radio', name='options')
            | Time: {{search.time}}
            .input-append.bootstrap-timepicker.timepick
              input#timepicker1.input-small(type='text')
              span.add-on
                i.icon-time
            script(type='text/javascript').
              $('#timepicker1').timepicker();
    br
    .row
      .col-xs-12
        .btn-group-justified(data-toggle='buttons')
          label.btn.btn-primary.btn-lg
            input#option1(type='radio', name='options')
            | Search
          label.btn.btn-primary.btn-lg
            input#option2(type='radio', name='options')
            | Cancel


