.row.btn-success
  .col-xs-12.col-md-10.col-md-offset-1(ng-click="home()")
    img.img-responsive.logocent(src="/images/logo.png" width=200)
.create-screen.row
  .col-xs-10.col-xs-offset-1
    h1 Search Game
.row
  .col-xs-10.col-xs-offset-1.findbuttons
    .row.selector-rows
      .col-xs-6.btn-success.text-center(ng-class="{active: search.ranked === true}", ng-click="search.ranked = search.ranked === true ? null : true")
        span.fa.fa-trophy.fa-white.fa-lg
        span &nbsp; &nbsp;Ranked
      .col-xs-6.btn-success.text-center(ng-class="{active: search.ranked === false}", ng-click="search.ranked = search.ranked === false ? null : false")
        span Casual&nbsp; &nbsp;
        span.fa.fa-smile-o.fa-white.fa-lg
    .row.selector-rows
      .col-xs-6.btn-success.text-center(ng-class="{active: search.single === true}", ng-click="search.single = search.single === true ? null : true")
        span.fa.fa-male.fa-white.fa-lg
        span &nbsp; &nbsp;Single
      .col-xs-6.btn-success.text-center(ng-class="{active: search.single === false}", ng-click="search.single = search.single === false ? null : false")
        span Double&nbsp; &nbsp;
        span.fa.fa-male.fa-white.fa-lg
        |&nbsp;
        span.fa.fa-male.fa-white.fa-lg

    .row.selector-rows
      label Maximum skill level
      br
      .col-xs-2.col-xs-offset-1
        span.span.fa.fa-2x.fa-star(ng-click="search.skill=1")
      .col-xs-2
        span.span.fa.fa-2x(ng-class="{'fa-star': search.skill >= 2, 'fa-star-o': search.skill < 2}" ng-click="search.skill=2")
      .col-xs-2
        span.span.fa.fa-2x(ng-class="{'fa-star': search.skill >= 3, 'fa-star-o': search.skill < 3}" ng-click="search.skill=3")
      .col-xs-2
        span.span.fa.fa-2x(ng-class="{'fa-star': search.skill >= 4, 'fa-star-o': search.skill < 4}" ng-click="search.skill=4")
      .col-xs-2
        span.span.fa.fa-2x(ng-class="{'fa-star': search.skill >= 5, 'fa-star-o': search.skill < 5}" ng-click="search.skill=5")

    .row.selector-rows
      label Terrain selection
      br
      .col-xs-4.text-center.well(ng-class="{'reset-well': (search.terrain!=='clay')}", ng-click="toggleTerrain('clay')").clay-color
        span.fa.fa-5x.fa-square
        br
        span Clay
      .col-xs-4.text-center.well(ng-class="{'reset-well': (search.terrain!=='grass')}", ng-click="toggleTerrain('grass')").grass-color
        span.fa.fa-5x.fa-square
        br
        span Grass
      .col-xs-4.text-center.well(ng-class="{'reset-well': (search.terrain!=='hard')}", ng-click="toggleTerrain('hard')").hard-color
        span.fa.fa-5x.fa-square
        br
        span Hard Terrain
    .row
      .col-xs-12.btn-success.bottom-button
        .input-group
          span.input-group-addon Radius in km
            input.form-control(ng-model="search.radius", ng-model-instant, type='text', placeholder='Radius in km')
    .row
      .col-xs-6.btn-success.text-center()
        label(for="date") Date
        input#datePicker.form-control(type="date", ng-model="search.date")
      .col-xs-6.btn-success.text-center()
        label(for="time") Time
        input#timePicker.form-control(type="time", ng-model="search.time")
    .row
      .col-xs-12.btn-success
        .input-group#addressSearch
          input.form-control(ng-model="search.addressResult", ng-autocomplete="search.addressResult", details="search.addressDetails", options="search.addressOptions")
          span.input-group-btn
            button.btn.btn-defaullt(type="button", ng-click="getCurrentPosition()") Current Position
        .mapContainer
          #googleMap

  //-   br
  //- .bottom-button-area
  //-   .row
  //-     .col-xs-6.btn-danger.bottom-button(ng-click="back()")
  //-       span
  //-         span.fa.fa-chevron-left.fa-white.fa-lg
  //-         | &nbsp; &nbsp;Back
  //-     .col-xs-6.btn-success.bottom-button(ng-click="next()")
  //-       span
  //-         | Search&nbsp; &nbsp;
  //-         span.fa.fa-chevron-right.fa-white.fa-lg
