.row.btn-success
  .col-xs-12.col-md-10.col-md-offset-1(ng-click="home()")
    img.img-responsive.logocent(src="/images/logo.png" width=200)
.create-screen.row
  .col-xs-10.col-xs-offset-1
    h1 League

.row
  .col-xs-10.col-xs-offset-1.findbuttons
    .table
      .thead
        .tr(ng-repeat="user in users").text-left
          .col-xs-12.btn-success.bottom-button(ng-class="{'btn-success1':$index===0, 'btn-success2':$index===1, 'btn-success3':$index>=2, 'btn-success4more':$index>=3}")
            span {{$index+1}} &nbsp; &nbsp; &nbsp;
            span.fa.fa-trophy.fa-white.fa-lg
            span &nbsp; &nbsp;{{user.name}}

    br
  .bottom-button-area
    .row
      .col-xs-6.btn-danger.bottom-button(ng-click="back()")
        span
          span.fa.fa-chevron-left.fa-white.fa-lg
          | &nbsp; &nbsp;Back
      .col-xs-6.btn-success.bottom-button(ng-click="next()")
        span
          | Friends League&nbsp; &nbsp;
          span.fa.fa-chevron-right.fa-white.fa-lg
